// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

*{
    font-family:'Times New Roman', Times, serif;
}

// FOOTER
footer{
    position: relative;
    bottom: 0px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.footer-box-media{
    width: 100%;
}

.footer-media-ul
{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.footer-media-item{
    text-align: center;
    list-style: none;
}

.footer-media-item{
    width: 30px;
    margin: 3px;
}

.bi-facebook{
    fill: rgb(0,136,255);
    cursor: pointer;
}

.bi-twitter{
    fill: rgb(0,172,238);
    cursor: pointer;
}

.bi-youtube{
    fill: #FF0000;
    cursor: pointer;

}

.bi-instagram{
    fill: #DD2A7B;
    cursor: pointer;
}

.footer-box-bootom{
    width: 100%;
    text-align: center;
}
// END FOOTER

.view-height{
    min-height: 800px;
}

.box-list-cart-items{
   max-height: 800px;
   overflow: auto;
}

.nav-menu-user:hover{
    transition: transform .2s;
    transform: scale(1.1);
}

.a-buy-in-card{
    margin-left: 5px;
    color: black;
    transition: transform .2s;
}

.a-buy-in-card:hover{
    transform: scale(1.1);
    color: black;
}

.button-view-in-card{
    width: 100px;
    border: 1px solid black;
    transition: transform .2s;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    background: black;
    color: white;
    border-radius: 30px;
}

.button-view-in-card:hover{
    transform: scale(1.1);
}

.heart-in-card{
    margin-left: 5px;
    margin-right: 5px;
    transition: transform .2s;
}

.heart-in-card:hover{
    transform: scale(1.1);
}

.media-in-card{
    display: flex;
    flex-wrap: wrap;
}

.cart-span{
    position: static;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    background: rgb(90, 149, 182);
    color: white;
    border-radius: 50%;
}

// NAV BUTTONS

.box-nav-buttons-center{
    display: flex;
    list-style: none;
    font-size: 23px;
    justify-content: space-evenly;
}

.a-nav-buttons-center{
    text-align: center;
    text-decoration: none;
    color:white;
}

.nav-buttons-center{
    position:relative;
    text-align: center;
    display: flex;
}

.a-nav-buttons-center:hover{
    color:white;
    cursor: pointer;
    transform: scale(1.2);
}

// END NAV BUTTONS

// STARS
.box-stars{
    display: flex;
    list-style: none;
    justify-content: center;
}

.box-stars .star-widtget input{
    display: none;
}

.star-widtget label{
    padding-left: 3px;
    padding-right: 3px;
    float: right;
    color: #444;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
   color: #fd4;
}

input:checked ~ label{
    color: #fd4;
}

//END STARS

.item-slider{
    color: black;
    text-decoration: none;
    display: flex;
}

.item-slider:hover{
    color: black;
    transition: transform .5s;
    transform: scale(0.9);
}

.footer-box-center{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-box-bootom{
    display: flex;
    justify-content:center;
    margin-top: 10px;
    background: rgba(0, 79, 85, 1) !important;

}

.footer-link-media{
    text-decoration: none;
    color: white;
}

.content-list-footer{
    float: left;
    list-style: none;
}
.content-list-footer a{
    text-decoration: none;
    color: white;
}

.photo-in-card{
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    width: 300px;
}

.media-in-card{
    height: 100%;
    width: 200px;
}

.item-card-container{
    text-decoration: none;
    color: black;
}

.item-card-container:hover{
    transition: background 0.2s;
    background:darkgray;
}
